 .u-section-1 {
  min-height: 927px;
}

.u-section-1 .u-shape-1 {
  height: 952px;
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -530px auto 0 calc(((100% - 1140px) / 2) + -3px);
}

.u-section-1 .u-image-1 {
  width: 296px;
  height: 20px;
  margin: -97px auto 0 calc(((100% - 1140px) / 2) + -3px);
}

.u-section-1 .u-image-2 {
  width: 134px;
  height: 22px;
  margin: 101px auto 0 calc(((100% - 1140px) / 2) + -3px);
}

.u-section-1 .u-image-3 {
  width: 36px;
  height: 36px;
  margin: -31px auto 0 calc(((100% - 1140px) / 2) + 247px);
}

.u-section-1 .u-image-4 {
  width: 36px;
  height: 36px;
  margin: -36px auto 0 calc(((100% - 1140px) / 2) + 197px);
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 265px auto 0 calc(((100% - 1140px) / 2) + -40px);
  padding: 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -25px auto 0 calc(((100% - 1140px) / 2) + 140px);
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 31px;
  height: 31px;
  margin: -324px auto 60px calc(((100% - 1140px) / 2) + 155px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + -3px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -3px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2) + -3px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + 247px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2) + 197px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-top: 75px;
    margin-left: calc(((100% - 940px) / 2) + 155px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + -3px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + -3px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + -3px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 247px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 720px) / 2) + 197px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 720px) / 2) + 155px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + -3px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + -3px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + -3px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + 247px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 540px) / 2) + 197px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 540px) / 2) + 155px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + -3px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2) + -3px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2) + -3px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2) + 247px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 340px) / 2) + 197px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 340px) / 2) + 155px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2845px;
}

.u-section-2 .u-shape-1 {
  height: 360px;
  width: 588px;
  margin: 144px -31px 0 583px;
}

.u-section-2 .u-image-1 {
  width: 588px;
  height: 360px;
  margin: -360px -31px 0 auto;
}

.u-section-2 .u-shape-2 {
  height: 362px;
  width: 588px;
  margin: -360px -31px 0 auto;
}

.u-section-2 .u-text-1 {
  margin: -47px 258px 0 598px;
}

.u-section-2 .u-image-2 {
  width: 174px;
  height: 57px;
  margin: -65px 334px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 391px;
  height: 15px;
  margin: -65px 124px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 588px;
  height: 360px;
  margin: -281px auto 0 -34px;
}

.u-section-2 .u-shape-3 {
  height: 360px;
  width: 588px;
  margin: -360px auto 0 -34px;
}

.u-section-2 .u-image-5 {
  width: 264px;
  height: 15px;
  margin: -94px auto 0 1px;
}

.u-section-2 .u-image-6 {
  width: 193px;
  height: 24px;
  margin: 9px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 2px 871px 0 -15px;
}

.u-section-2 .u-image-7 {
  width: 588px;
  height: 358px;
  margin: 80px -31px 0 auto;
}

.u-section-2 .u-shape-4 {
  height: 360px;
  width: 588px;
  margin: -360px -31px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: -46px 0 0 618px;
}

.u-section-2 .u-image-8 {
  width: 407px;
  height: 24px;
  margin: -52px 0 0 auto;
}

.u-section-2 .u-image-9 {
  width: 588px;
  height: 358px;
  margin: -308px auto 0 -51px;
}

.u-section-2 .u-shape-5 {
  height: 360px;
  width: 588px;
  margin: -358px auto 0 -51px;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: -48px 525px 0 0;
}

.u-section-2 .u-image-10 {
  width: 347px;
  height: 24px;
  margin: -45px auto 0 0;
}

.u-section-2 .u-image-11 {
  width: 655px;
  height: 409px;
  margin: 147px -31px 0 auto;
}

.u-section-2 .u-shape-6 {
  height: 409px;
  width: 655px;
  margin: -409px -23px 0 auto;
}

.u-section-2 .u-image-12 {
  width: 390px;
  height: 24px;
  margin: -79px 191px 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 6px -14px 0 559px;
}

.u-section-2 .u-image-13 {
  width: 517px;
  height: 409px;
  margin: -384px auto 0 -51px;
}

.u-section-2 .u-text-6 {
  margin: -174px 738px 0 118px;
}

.u-section-2 .u-image-14 {
  width: 352px;
  height: 311px;
  margin: 233px -31px 0 auto;
}

.u-section-2 .u-image-15 {
  width: 339px;
  height: 311px;
  margin: -311px 358px 0 auto;
}

.u-section-2 .u-image-16 {
  width: 462px;
  height: 311px;
  margin: -311px auto 0 -51px;
}

.u-section-2 .u-text-7 {
  margin: -32px 846px 0 10px;
}

.u-section-2 .u-image-17 {
  width: 528px;
  height: 321px;
  margin: 42px auto 0 -51px;
}

.u-section-2 .u-text-8 {
  margin: -114px 158px 0 698px;
}

.u-section-2 .u-image-18 {
  width: 669px;
  height: 484px;
  margin: -215px -31px 0 auto;
}

.u-section-2 .u-image-19 {
  width: 384px;
  height: 234px;
  margin: -142px auto 0 93px;
}

.u-section-2 .u-image-20 {
  width: 570px;
  height: 26px;
  margin: 30px auto 60px 93px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-left: 483px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 158px;
    margin-left: 498px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 771px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 55px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 518px;
  }

  .u-section-2 .u-image-8 {
    margin-top: -28px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -643px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 325px;
  }

  .u-section-2 .u-image-10 {
    margin-top: -91px;
  }

  .u-section-2 .u-image-11 {
    margin-top: 108px;
  }

  .u-section-2 .u-shape-6 {
    margin-top: -521px;
  }

  .u-section-2 .u-image-12 {
    margin-top: -122px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 60px;
    margin-left: 459px;
  }

  .u-section-2 .u-image-13 {
    margin-top: -283px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 638px;
    margin-left: 18px;
  }

  .u-section-2 .u-image-14 {
    margin-top: 73px;
  }

  .u-section-2 .u-image-15 {
    height: 312px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 656px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 58px;
    margin-left: 598px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    margin-top: 232px;
    margin-right: 179px;
    margin-left: 323px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 179px;
  }

  .u-section-2 .u-shape-2 {
    margin-right: 179px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 258px;
    margin-left: 598px;
  }

  .u-section-2 .u-image-2 {
    margin-right: auto;
    margin-left: 422px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 334px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -1161px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 547px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -1201px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 5px;
    margin-right: 661px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 1172px;
    margin-right: 179px;
  }

  .u-section-2 .u-shape-4 {
    margin-right: 179px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 192px;
    margin-left: 874px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 2506px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -3266px;
    margin-left: 159px;
  }

  .u-section-2 .u-shape-5 {
    margin-left: 159px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 876px;
    margin-left: 190px;
  }

  .u-section-2 .u-image-10 {
    margin-top: 2028px;
  }

  .u-section-2 .u-image-11 {
    margin-top: -255px;
    margin-right: 179px;
  }

  .u-section-2 .u-shape-6 {
    margin-top: 7px;
    margin-right: 179px;
  }

  .u-section-2 .u-image-12 {
    margin-top: -287px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 349px;
  }

  .u-section-2 .u-image-13 {
    margin-top: -775px;
    margin-left: 159px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -573px;
    margin-right: 646px;
    margin-left: 210px;
  }

  .u-section-2 .u-image-14 {
    margin-top: -505px;
    margin-right: 179px;
  }

  .u-section-2 .u-image-15 {
    margin-top: -323px;
    margin-right: auto;
    margin-left: 233px;
  }

  .u-section-2 .u-image-16 {
    margin-top: -991px;
    margin-left: 159px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 564px;
    margin-right: 646px;
    margin-left: 210px;
  }

  .u-section-2 .u-image-17 {
    margin-top: 394px;
    margin-left: 159px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -691px;
    margin-right: 210px;
    margin-left: 646px;
  }

  .u-section-2 .u-image-18 {
    margin-right: 179px;
  }

  .u-section-2 .u-image-19 {
    margin-top: 64px;
    margin-left: 303px;
  }

  .u-section-2 .u-image-20 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2592px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
    margin-top: 664px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 331px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-2 .u-shape-2 {
    width: 540px;
    margin-top: -331px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 300px;
    margin-left: 556px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 332px;
  }

  .u-section-2 .u-image-3 {
    margin-right: auto;
    margin-left: 325px;
  }

  .u-section-2 .u-image-4 {
    width: 540px;
    height: 331px;
    margin-top: 149px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-3 {
    width: 540px;
    margin-top: -734px;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    margin-top: 97px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 2px;
    margin-right: 571px;
  }

  .u-section-2 .u-image-7 {
    width: 540px;
    height: 329px;
    margin-top: -134px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-2 .u-shape-4 {
    width: 540px;
    margin-top: -331px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 266px;
  }

  .u-section-2 .u-image-9 {
    margin-left: 249px;
  }

  .u-section-2 .u-shape-5 {
    margin-left: 249px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 860px;
    margin-left: 280px;
  }

  .u-section-2 .u-image-11 {
    width: 540px;
    height: 337px;
    margin-top: -688px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-2 .u-shape-6 {
    width: 540px;
    margin-top: -47px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-2 .u-image-12 {
    margin-top: 178px;
    margin-right: 150px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 259px;
  }

  .u-section-2 .u-image-13 {
    margin-top: -721px;
    margin-left: 249px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -966px;
    margin-right: 556px;
    margin-left: 300px;
  }

  .u-section-2 .u-image-14 {
    margin-top: -10px;
    margin-right: 300px;
  }

  .u-section-2 .u-image-15 {
    margin-top: -581px;
    margin-left: 300px;
  }

  .u-section-2 .u-image-16 {
    margin-top: -1330px;
    margin-left: 249px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 1205px;
    margin-right: 556px;
    margin-left: 300px;
  }

  .u-section-2 .u-image-17 {
    margin-top: -276px;
    margin-left: 249px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -323px;
    margin-right: 300px;
    margin-left: 556px;
  }

  .u-section-2 .u-image-18 {
    width: 540px;
    height: 390px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-2 .u-image-19 {
    margin-top: 260px;
    margin-right: 363px;
    margin-left: auto;
  }

  .u-section-2 .u-image-20 {
    width: 540px;
    height: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1419px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 208px;
    margin-left: 400px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    margin-top: -208px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 400px;
    margin-left: 456px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 400px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 13px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 208px;
    margin-top: -65px;
  }

  .u-section-2 .u-shape-3 {
    width: 340px;
    margin-top: -395px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -129px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 5px;
    margin-right: 471px;
  }

  .u-section-2 .u-image-7 {
    width: 340px;
    height: 207px;
    margin-top: 101px;
    margin-left: 400px;
  }

  .u-section-2 .u-shape-4 {
    width: 340px;
    margin-top: -209px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-8 {
    width: 340px;
    height: 20px;
  }

  .u-section-2 .u-image-9 {
    width: 340px;
    height: 207px;
    margin-top: -3262px;
    margin-left: 400px;
  }

  .u-section-2 .u-shape-5 {
    width: 340px;
    margin-top: -207px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 760px;
    margin-left: 380px;
  }

  .u-section-2 .u-image-10 {
    width: 340px;
    height: 23px;
    margin-top: 2001px;
  }

  .u-section-2 .u-image-11 {
    width: 340px;
    height: 212px;
    margin-top: -476px;
    margin-left: 400px;
  }

  .u-section-2 .u-shape-6 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-12 {
    width: 340px;
    height: 21px;
    margin-top: 101px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 63px;
    margin-left: 159px;
  }

  .u-section-2 .u-image-13 {
    width: 340px;
    height: 269px;
    margin-top: -626px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -719px;
    margin-right: 456px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-14 {
    margin-top: -82px;
    margin-right: 369px;
  }

  .u-section-2 .u-image-15 {
    margin-left: 400px;
  }

  .u-section-2 .u-image-16 {
    width: 340px;
    height: 229px;
    margin-top: -1485px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 1403px;
    margin-right: 456px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-17 {
    width: 340px;
    height: 207px;
    margin-top: -274px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -239px;
    margin-right: 400px;
    margin-left: 456px;
  }

  .u-section-2 .u-image-18 {
    width: 340px;
    height: 246px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-19 {
    width: 340px;
    height: 207px;
    margin-top: 368px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-2 .u-image-20 {
    width: 340px;
    height: 16px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 691px;
}

.u-section-3 .u-image-1 {
  width: 202px;
  height: 216px;
  margin: 49px auto 60px 34px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    height: 217px;
  }
}